.Header-container {
    display: grid;
    grid-template-areas: 
      ". Header-logo . Header-signOut Header-export";
    grid-template-columns: 0px 300px auto 150px 170px;
    /* Make sure the row height is okay with what set in App.css for the header container */
    grid-template-rows: 80px; 
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Header-logo {
    grid-area: Header-logo;
    justify-self: center;
    align-self: center;
}


.Header-signOut {
    grid-area: Header-signOut;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    display: inline-block;
}

.Header-export {
    grid-area: Header-export;
    justify-self: center; 
    align-self: center;
    text-decoration: none;
    display: inline-block;

}