.Upload-container {
    display: grid;
    grid-template-areas: 
      "Upload-progress Upload-button";
    grid-template-columns: auto 0.5fr;
    /* Make sure the row height is okay with what set in App.css for the header container */
    grid-template-rows: auto;
}

.Upload-button {
    grid-area: Upload-button;
    padding: 1px 0 1px 0;
}

.Upload-progress {
    grid-area: Upload-progress;
    justify-self: center;
    align-self: center;
    font-size: 0.8em;
}

.fade-animation {
  animation: FadeAnimation 1s ease-in .2s forwards;
}

@keyframes FadeAnimation {
    0% {
      opacity: 1;
      visibility: visible;
    }
  
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

#addFile{
  position: relative;
  left: 36px;
  top: 15px;
  width: 15px;
  height: 15px;
}