.Upload-container {
    display: grid;
    grid-template-areas: 
      "Upload-progress Upload-button";
    grid-template-columns: auto 0.5fr;
    /* Make sure the row height is okay with what set in App.css for the header container */
    grid-template-rows: auto;
}

.Upload-button {
    grid-area: Upload-button;
    padding: 1px 0 1px 0;
}

.Upload-progress {
    grid-area: Upload-progress;
    justify-self: center;
    align-self: center;
    font-size: 0.7em;
}

.progressBar {
  position: relative;
  margin-left: 35px;
  margin-top: 25px;
}

progress {
  border-radius: 1px; 
  width: 235px;
}

progress::-webkit-progress-bar {
  background-color: #B8D1F6;
  border-radius: 1px;
 }
 progress::-webkit-progress-value {
  background-color: #5D94FF;
  border-radius: 1px; 
 }
 progress::-moz-progress-bar {
   /* style rules */
 }

.fade-animation {
  animation: FadeAnimation 1s ease-in .2s forwards;
  position: relative;
  margin-top: 25px;
  margin-left: -17px;
}

@keyframes FadeAnimation {
    0% {
      opacity: 1;
      visibility: visible;
    }
  
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

#addFile{
  position: relative;
  left: 36px;
  top: 15px;
  width: 15px;
  height: 15px;
}