.alert {
  padding: 20px;
   /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 30px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.Transcript-Download {
    grid-area: Transcript-Save;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    display: inline-block;

}
