.saving-progress {
    grid-area: Upload-progress;
    justify-self: right;
    align-self: right;
    font-size: 1em;
}
.savingBar {
  position: relative;
  margin-left: 5px;
  margin-top: 5px;
}
.saving-fade-animation {
  animation: FadeAnimation 5s ease-in .3s forwards;
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
}
