.saving-progress {
    grid-area: Upload-progress;
    position: static;
    justify-self: right;
    align-self: right;
    font-size: 1em;
}
.savingBar {
  position: static;
}
.saving-fade-animation {
  animation: FadeAnimation 5s ease-in .3s forwards;
  position: static;
}
