body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}
nav{
    padding: 10px 20px;
    background-color: white;
}
nav img{
    width: 15px;
    margin: 0 30px;
}
.projects_audio_container{
    text-align: right;
    background-color: white;
    border-bottom: solid 1px #B8B9B8;
    padding: 0 10px;
}
.button{
    background-color: #5D94FF;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    cursor: pointer;
    float: right;
}

.project_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.folder{
    width: 289px;
    height: 223px;
    margin: 35px;
    float: left;
    overflow-y: scroll;
    
    background: #FFFFFF;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 10px;
}
.folder img{
    width: 20px;
    margin: -10px 50px;
    float: right;
}
.folder input{
    position: relative;
    left: 35px;
    top: -20px;

    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;

    text-decoration: none;
    color: #000000;

    background-color: transparent;
    width: 230px;
}
.folder input[disabled] {
    border: 0;
  }
#desc{
    position: relative;
    left: 35px;
    top: -25px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    color: #000000;
}

#folderAlign{
    display:flex; 
    flex-flow:row wrap;
}

#myFiles{
    position: relative;
    left: 35px;
    top: 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 0px;
    color: #000000;
}

#divider{
    position: relative;
    left: 35px;
    top: 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    color: #000000;
}

.folder a{
    position: relative;
    left: 35px;
    top: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0px;
    color: #000000;
}



#deleteButton{
    position: relative;
    left: -10px;
    top: -14px;
    width:20px;
    height: 20px;
    line-height: 20px;
    float: right;
    appearance: none;
    border: none;
    background: transparent;
    background-size: 20px;
    color: transparent;
}


#deleteBox{
    position: relative;
    left: -60px;
    top: -24px;
    width:20px;
    height: 20px;
    line-height: 20px;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent url("./staticHTML/image/trash.png") no-repeat right;
    background-size: 20px;
    color: transparent;
}

#editBox{
    position: relative;
    left: -10px;
    top: -23px;
    width:20px;
    height: 20px;
    line-height: 20px;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent url("./staticHTML/image/pencil-edit.png") no-repeat right;
    background-size: 20px;
    color: transparent;
}

#colorBox{
    position: relative;
    left: 37px;
    top: -23px;
    width:20px;
    height: 20px;
    line-height: 20px;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent url("./staticHTML/image/brush.png") no-repeat right;
    background-size: 20px;
    color: transparent;
}


/*
.folder select{
   
    margin: -10px 50px;
    float: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    border: none;
    background: url("image/edit.png") padding-box;
}*/

.green_border{
    position: relative;
    width: 223px;
    height: 19px;
    left: -103px;
    top: 101px;
    overflow-y: scroll;

    /*background: #6FD171;*/
    border-radius: 10px;
    transform: rotate(90deg);
}
.green_completed{
    position: relative;
    width: 223px;
    height: 9px;
    left: -98px;
    top: 87px;

    /*background: #6FD171;*/
    transform: matrix(0, 1, 1, 0, 0, 0);
}


/*
.project_container{

}
.folder_container{
    width: 25%;
    /float: left;/
    text-align: center;
    padding-top: 65px; 
}
.folder_control{
    /position: absolute;/
    width: 289px;
    height: 223px;
    margin-left: 63px;
    top: 138px;

    background: #FFFFFF;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 10px;

    margin-bottom: 20px;

    /border: solid 1px #B8B9B8;
    color: #8a8a8a;
    background-color: white;
    text-align: center;
    width: 80px;
    height: 60px;
    padding-top: 20px;
    font-size: 0.6em;
    font-weight: bold;
    margin: auto;/
}
.folder_control a{
    position: fixed;
    width: 98px;
    height: 28px;
    left: 102px;
    top: 166px;

    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;

    text-decoration: none;
    color: #000000;
}
.folder_control p{
    position: fixed;
    width: 151px;
    height: 21px;
    left: 102px;
    top: 208px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 0px;
    color: #000000;
}
.folder_control img{
    width: 20px;
}
.projects_green_border{
    position: absolute;
    width: 223px;
    height: 30px;
    left: -141px;
    top: 50px;

    background: #6FD171;
    border-radius: 10px;
    transform: rotate(90deg);
}
.projects_green_completed{
    position: absolute;
    width: 222px;
    height: 20px;
    left: -135px;
    top: 55px;

    background: #6FD171;
    transform: matrix(0, 1, 1, 0, 0, 0);
}

.projects_transcript{
    width: 85%;
    float: left;
    font-size: 0.8em;
    
}
.projects_utterance_container{
}
.projects_content_container{
    background-color: white;
    width: 60%;
    float: left;
    border-left: solid 1px #B8B9B8;
    border-right: solid 1px #B8B9B8;
    padding: 30px;
}
.projects_speaker{
    float: left;
    width: 20%;

}
.projects_content{
    float: left;
    width: 75%;
}
.projects_timecode{
    padding: 0 0 10px 0;
    font-weight: bold;
}
*/

/*
.label_container{
    float: left;
    width: 30%;
    margin: 30px 0 0 20px;
    padding-left: 10px;
    border-left: solid 4px green;
}
.label{
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 2px;
    color: white;
    font-weight: bold;
    float: left;
}
.sensitive{
    background-color: cornflowerblue;
}
.private{
    background-color: red;
}

*/



/*
.playback_container{
    width: 10%;
    height: 50px;
    float: left;
    padding: 20px 0;
}
.playback_controls{
    width: 110px;
    margin: auto;
}
.playback_container img{
    width: 40px;
    float: left;
    margin-right: 10px;
}
.playback_container img.small{
    width: 20px;
    top: 15px;
    position: relative;
}
.timecode_current{
    font-weight: bold;
    font-size: 0.8em;
    margin: 5px;
}
.track_container{
    width: 85%;
    height: 100px;
    float: left;
    text-align: left;
    padding-left: 50px;
}
*/



.coded{
    background-color: #B8B9B8;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

.fileDelete{
    position: relative;
    top: 21px;
    padding: 0 0 0 0;
}
.link{
    float:left;
}